/*

 tirar os seguines elementos:

 anotacoes: 
 ver como fazer a imagem da noticia preencher todo o espaco
 lupa dentro da src box
 arrumar gap invisivivel, talvez, por causa do grid

*/

html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-color: #f0f0f0;
}

header h1 {
  text-align: center;
}

header {
  background-color: #4682b4;
  color: white;
  padding: 10px;
}

.header-content {
  display: flex;
  gap: 20vw;
  align-items: center;
  padding: 10px;
  justify-content: flex-end;
}

form {
  display: flex;
}

dialog form {
  display: flex;
  position: relative;
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
  width: 50vw;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  display: block;
  background-color: #4682b4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
}

button.leia-mais {
  width: 100%;
  border-radius: 6px;
  padding: 8px;
  border: none;
  background-color: #c5c5c5;
}

#filter-icon {
  cursor: pointer;
}

#filter-count {
  position: absolute;
  background: white;
  color: #4682b4;
  border-radius: 50%;
  padding: 1px 3px;
  font-size: 10px;
}

main {
  background-color: #f0f0f0;
  max-width: 100ch;
  margin: auto;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li div {
  display: flex;
  flex-direction: column;
}

ul li div div h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  /**/
  align-items: flex-start;
}

/* li img {
  max-width: 100%;
  height: auto;
} */

li img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}

li h2,
h5 {
  margin: 0;
}

li p {
  margin: 5px 0;
}

li .editorias,
li .data {
  font-size: 0.9em;
  color: gray;
}

button.read-more {
  background-color: #4682b4;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  align-self: flex-start;
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pagination button {
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

#pagination button.active {
  background-color: #4682b4;
  color: white;
}

dialog {
  border-radius: 4px;
  border: solid 1px black;
  padding: 35px;
  position: absolute;
  top: 40%;
  width: 40vw;
}

#filter-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  position: relative;
}

#filter-form label {
  margin-top: 10px;
}

#filter-form select,
#filter-form input {
  padding: 5px;
}

#close-dialog {
  background: none;
  border: none;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
  font-size: 20px;
}

@media (min-width: 760px) {
  #filter-form {
    grid-template-columns: 1fr 1fr;
  }
}

footer {
  background-color: #4682b4;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: center; /* Center the button */
  margin-top: 10px; /* Optional: Add some margin to separate from the rest of the form */
}

#close-dialog {
  background: none;
  border: none;
  font-size: 24px; /* Aumenta o tamanho do "X" */
  cursor: pointer;
}
